/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

section{
    margin: 120px 0;
}

/* banner part style */

.banner{
    background-image: url(../images/Banner\ Image.png);
    padding: 177px 344px;
}

.banner-greeting{
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.banner-title{
    color: #fff;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* off part style */

.off-part{
    text-align: center;
}

.off-part-hading{
    color: #FF0000;
    font-size: 88px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.off-part-description{
    color: #FF0000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 48px 0 16px;
}

.off-part-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 48px;
}

/* welcome party part style */

.welcome-part{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    padding: 68px 138px 68px 126px;
}

.left-part .welcome-part-title{
    color: white;
    font-size: 64px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 88px;
    width: 642px;
    letter-spacing: 7px;
}

.left-part .welcome-part-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin: 24px 0 48px;
}

.left-part button{
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    background: none;
    padding-left: 90px;
}

/* information part style */

.information-part{
    background-image: url('../images/Vector.png');
    text-align: center;
    padding: 100px 380px;
}

.information span{
    color: #FF0000;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 56px;
}

.information{
    color: #070211;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.information-part button{
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 16px 32px;
    border: none;
    background-color: red;
    border-radius: 8px;
    margin-top: 48px;
}

/* offer part style */

.offer-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-hading{
    color: #FF0000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.offer-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 16px 0 22px;
}

.offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.offer-image{
    
    position: relative;
}

.circle{
    position: absolute;
    transform: translate(-51px, -418px);
}

.offer-year{
    color: #FF0000;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700
}

.offer-year-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0 43px;
    width: 276px;
}

/* sale part style */


.sale-part-text{
   text-align: center;

}

.sale-part-text .text-hading{
    color: #070211;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.sale-part-text span{
    color: #FF0000;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.sale-part-text .text-title{
    color: #070211; 
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 16px 0 28px;
}

.sale-part-text .text-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 32px;
    padding: 0 126px;
    margin-bottom: 64px;
}

.left-right-background{
    display: flex;
    justify-content: space-between;
}

.left-background img {
    position: absolute;
}

.right-background{
    position: relative;
}

.right-background .discount img {
    position: absolute;
    bottom: 100%;
    right: 100%;
    transform: translate(156px, 363px);
}

.bottom-background img{
    background-position: center;
    background-repeat: no-repeat;
}

/* portfolio part style */


.portfolio-hading{
    color: #FF0000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.portfolio-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 16px 0 22px;
}

.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    width: 896px;
}

.my-collection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
}

/* news latter part style */
   
.news-latter-part{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding: 80px 212px;
}

.news-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 40px 0 22px;
}

.news-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.form input{
    border: 0;
}

 .form .fillup{
      padding: 25px 477px 25px 25px;
      border-radius: 50px 0 0 50px;
      color: rgba(7, 2, 17, 0.30);
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      position: relative;
}

.form .submit-btn{
    padding: 24px 56px;
    background-color: #FF0000;
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 0 50px 50px 0;
    position: absolute;
}

/* footer part */

footer{
    background-color: rgba(7, 2, 17, 1);
}

.information{
    display: flex;
    justify-content: space-between;
    padding: 120px 0 50px;
}

.details{
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 40px;
    width: 375px;
}

.contract{
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 40px;
}

footer .icon{
    text-align: center;
    padding: 48px 0;

}

footer .icon a{
    margin-left: 24px;

}


.copy-right{
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 120px;
}
