/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

/* banner part style */

.banner{
    background-image: url(../images/Banner\ Image.png);
    padding: 177px 344px;
}

.banner-greeting{
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.banner-title{
    color: #fff;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* off part style */

.off-part{
    text-align: center;
    padding: 120px 0;
}

.off-part-hading{
    color: #FF0000;
    font-size: 88px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.off-part-description{
    color: #FF0000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 48px 0 16px;
}

.off-part-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 48px;
}











/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */