/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

/* banner part style */

.banner{
    background-image: url(../images/Banner\ Image.png);
    padding: 177px 344px;
}

.banner-greeting{
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.banner-title{
    color: #fff;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* off part style */

.off-part{
    text-align: center;
    padding: 120px 0;
}

.off-part-hading{
    color: #FF0000;
    font-size: 88px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.off-part-description{
    color: #FF0000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 48px 0 16px;
}

.off-part-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 48px;
}

/* welcome party part style */

.welcome-part{
    background-image: url('../images/Vectorrr.png');
    align-items: center;
    display: flex;
    padding: 68px 138px 68px 126px;
}

.left-part .welcome-part-title{
    color: white;
    font-size: 64px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 88px;
    width: 642px;
    letter-spacing: 7px;
}

.left-part .welcome-part-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin: 24px 0 48px;
}

.left-part button{
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    background: none;
    padding-left: 90px;
}











/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */